{% extends "base.html" %}
{% block page_content %}
  <div class="page-header">
    <h1>Olá, {{ name or 'Estranho' }}!</h1>
    <p>Instituição: {{ institution or 'None' }}</p>
    <p>Disciplina: {{ subject or 'nenhuma' }}</p>
    <hr>
    <p>IP remoto: {{ remote_ip }}</p>
    <p>Host da app: {{ application_host }}</p>
  </div>

  {{ wtf.quick_form(form) }}

  {% if current_time %}
  <hr>
  <p>Horario local: {{ moment(current_time).format('LLL') }}</p>
  <p>{{ moment(current_time).fromNow(refresh=True) }}</p>
  {% endif %}
{% endblock %}
